*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.1),
    rgba(255, 0, 0, 0.1)
  );
  display: flex;
  justify-content: center;
}
.calc-container {
  margin-top: 60px;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
  .output {
    background-color: rgb(73, 59, 59);
    color: white;
    padding: 10px;
    padding-top: 30px;
    min-height: 130px;
    position: relative;
    .dot {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 100px;
      z-index: 10;
      padding-top: 3px;
      padding-left: 3px;
      #dot1,
      #dot2,
      #dot3 {
        height: 15px;
        width: 15px;
        margin: 3px;
        border-radius: 20px;
        display: inline-block;
      }
      #dot1 {
        background-color: red;
      }
      #dot2 {
        background-color: yellow;
      }
      #dot3 {
        background-color: green;
      }
    }
    .user-input-display {
      font-size: 40px;
      word-break: break-all;
      margin-left: auto;
      text-align: right;
      min-height: 50px;
    }
    .result-display {
      text-align: right;
      min-height: 40px;
      font-size: 30px;
      margin-top: 10px;
      word-break: break-all;
      color: rgb(214, 214, 214);
    }
  }
  .calc-keyboard {
    .row {
      display: flex;
      flex-direction: row;
      .digit-btn,
      .digit-span2-btn,
      .op-btn {
        width: 90px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 40px;
        font-weight: bold;
        background-color: rgb(243, 243, 243);
        user-select: none;
        &:hover {
          cursor: pointer;
          background-color: hsl(0, 0%, 80%);
        }
      }
      .digit-span2-btn {
        width: 180px;
      }
      .op-btn {
        background: rgb(255, 187, 0);
        color: white;
        &:hover {
          background: hsl(40, 80%, 50%);
        }
      }
    }
  }
}

.show {
  font-size: 20px;
  padding-top: 20px;
  * {
    margin: 10px;
  }
}
